{% extends 'boardapp/base.html' %}

 {% block content %}

<div style="height: 30px;"></div>


<div class="container" style="max-width: 1000px;">

    <!-- Headline -->
    <div class="container">
        <div class="row">
          <div class="col">
            <h2>Boards List</h2>
          </div>
          <div class="col">
            
          </div>
          <div class="col">
            Hey fernando
          </div>
        </div>
    </div>

    <!-- Body cards -->
    <div class="row justify-content-center " >

        <div class="col-sm-6 m-2" style="width: 300px;">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Board A</h5>
              <p class="card-text">C-Building 317</p>
              <a href="#" class="btn btn-primary">Go to Board</a>
            </div>
          </div>
        </div>

        <div class="col-sm-6 m-2" style="width: 300px;">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Board B</h5>
                <p class="card-text">C-Building 317</p>
                <a href="#" class="btn btn-primary">Go to Board</a>
              </div>
            </div>
          </div>

        <div class="col-sm-6 m-2" style="width: 300px;">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Board C</h5>
                <p class="card-text">C-Building 317</p>
                <a href="#" class="btn btn-primary">Go to Board</a>
              </div>
            </div>
        </div>

    </div>






</div>


 {% endblock %}