{% extends 'boardapp/base.html' %}

 {% block content %}


 <div style="height: 30px;"></div>


 <div class="container" style="max-width: 1000px;">
 
     <!-- Headline -->
     <div class="container">
         <div class="row">
           <div class="col">
             <h2>Boards Details</h2>
           </div>
           <div class="col">
             
           </div>
           <div class="col">
             Hey fernando
           </div>
         </div>
     </div>
 
     <!-- Body cards -->
     <div class="row justify-content-center " >
 
         <div class="col-sm-6 m-2" style="width: 800px;">
           <div class="card">
            <img class=" " style="max-width: 100%; max-height: 200px; object-fit: cover; " src="https://images.unsplash.com/photo-1571260898938-0fe5057e7208?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1470&q=80" alt="" >
             <div class="card-body">
               <h5 class="card-title">Board A</h5>
               <p class="card-text">C-Building 317</p>
               <button type="button" class="btn btn-success">High Traffic Board</button>
               
               <div class="container">
                <div class="row p-4 text-center ">
                  <div style="border-radius: 5px;" class="col bg-secondary m-2 p-2 text-light">
                    <h5>Total Flyers</h5>
                    <p style="margin-bottom: 0px;">10</p>
                  </div>
                  <div style="border-radius: 5px;" class="col bg-secondary m-2 p-2 text-light">
                    <h5>Available space</h5>
                    <p style="margin-bottom: 0px;">10</p>
                  </div>
                  <div style="border-radius: 5px;" class="col bg-secondary m-2 p-2 text-light">
                    <h5>Total Flyers Posted Today</h5>
                    <input type="number" min="0" class="form-control" >
                    <a href="#" class="btn btn-primary p-2 m-2">Update</a>
                  </div>
                  <div><p>Updated by Fernando 10sec ago</p></div>
                </div>
                
              </div>
              

               
             </div>
           </div>
         </div>
 
        
     </div>
 
 
 
 
 
 
 </div>

 {% endblock %}