{% extends 'boardapp/base/base.html' %}

 {% block content %}


 <div style="height: 30px;"></div>


 <div class="container" style="max-width: 1000px;">
 
     <!-- Headline -->
     <div class="container">
         <div class="row">
           <div class="col">
             <h2>Boards Details</h2>
           </div>
           <div class="col">
             
           </div>
           <div class="col">
             <p>Hey, {{ request.user.username }}</p>
           </div>
         </div>
     </div>
 
     <!-- Body cards -->
     <div class="row justify-content-center " >
 
         <div class="col-sm-6 m-2" style="width: 1000px;">
           <div class="card">
            <!-- <img class=" " style="max-width: 100%; max-height: 200px; object-fit: cover; " src="{{ boards.image.url }}" alt="" > -->
             <div class="card-body">
               <h5 class="card-title">{{ boards.name }}</h5>
               <p class="card-text">{{ boards.location }}</p>
               
              {% if boards.status == 1 %}
                <button type="button" class="btn-board-detail btn-low-traffic">{{ boards.get_status_display }}</button>
              {% elif boards.status == 2 %}
                <button type="button" class="btn-board-detail btn-med-traffic">{{ boards.get_status_display }}</button>
              {% else%}
                <button type="button" class="btn-board-detail btn-hi-traffic">{{ boards.get_status_display }}</button>
              {% endif %}

            

              <!-- table of flyers -->

              <div class="table-responsive text-nowrap">
                <!--Table-->
                <table class="table table-striped" style="margin-top: 2rem;">
        
                  <!--Table head-->
                  <thead>
                    <tr class="board-detail-text-left">
                      <th>ID#</th>
                      <th>Image</th>
                      <th>FLyer Name</th>
                      <th>Department</th>
                   
                      <!-- <th>Ambassador Name</th> -->
                      <th>Status</th>
                      <th>Posted Date</th>
                      <th>FLyer Deadline</th>
                      
                      
                    </tr>
                  </thead>
                  <!--Table head-->
        
                  <!--Table body-->
                  <tbody>
                    {% for flyer in page_obj %}
                    <tr class="board-detail-text-left">
                      <th scope="row">{{ flyer.id }}</th>
                      <td><img src="{{ flyer.image.url }}" alt="" style="width: 50px; height: 50px; border-radius: 50px;"></td>
                      <td class=" "><a class="text-decoration-none "  href="{% url 'boardapp:flyer-detail' flyer.id %}">{{ flyer.name }}</a></td>
                      <td class=" ">{{ flyer.office }}</td>
                
                      <!-- <td>{{ flyer.added_by }}</td> -->
                      <td>Posted</td>
                      <td>{{ flyer.date_posted }}</td>
                      <td>{{ flyer.due_date }}</td>
                    
                    </tr>
                    {% endfor %}

                  </tbody>
                  <!--Table body-->
        
        
                </table>
                <!--Table-->
              </div>
        </section>
        <!--Section: Live preview-->

        <!--  -->
      <div class="page-pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>

              

               
             </div>
           </div>
         </div>
 
        
     </div>
 
 
 
 
 
 
 </div>

 {% endblock %}