{% extends 'boardapp/base/base.html' %}

 {% block content %}

<div style="height: 30px;"></div>


<div class="container" style="max-width: 1000px;">

    <!-- Headline -->
    <div class="container">
        <div class="row">
          <div class="col">
            <h2>Boards List</h2>
          </div>
          <div class="col">
            
          </div>
          <div class="col">
            <p> Hey, {{ request.user.username }}</p>
          </div>
        </div>
    </div>

    <!-- Body cards -->
    <div class="row justify-content-center " >

      {% for board in boards %}
        <div class="col-sm-6 m-2" style="width: 300px;">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{ board.name }}</h5>
              <p class="card-text">{{ board.location }}</p>
              <a href="{% url 'boardapp:board-detail' board.id %}" class="btn btn-primary">Go to Board</a>
            </div>
          </div>
        </div>
      {% endfor %}

    </div>






</div>


 {% endblock %}