{% extends 'boardapp/base/base.html' %}

 {% block content %}


 <div style="height: 30px;"></div>


 <div class="container" style="max-width: 1000px;">
 
     <!-- Headline -->
     <div class="container">
         <div class="row">
           <div class="col">
             <h2>Boards Details</h2>
           </div>
           <div class="col">
             
           </div>
           <div class="col">
             <p>Hey, {{ request.user.username }}</p>
           </div>
         </div>
     </div>
 
     <!-- Body cards -->
     <div class="row justify-content-center " >
 
         <div class="col-sm-6 m-2" style="width: 800px;">
           <div class="card">
            <img class=" " style="max-width: 100%; max-height: 200px; object-fit: cover; " src="{{ boards.image.url }}" alt="" >
             <div class="card-body">
               <h5 class="card-title">{{ boards.name }}</h5>
               <p class="card-text">{{ boards.location }}</p>
               
              {% if boards.status == 1 %}
                <button type="button" class="btn btn-info">{{ boards.get_status_display }}</button>
              {% elif boards.status == 2 %}
                <button type="button" class="btn btn-danger">{{ boards.get_status_display }}</button>
              {% else%}
                <button type="button" class="btn btn-success">{{ boards.get_status_display }}</button>
              {% endif %}

               <!-- <div class="container">
                <div class="row p-4 text-center ">
                  <div style="border-radius: 5px;" class="col bg-secondary m-2 p-2 text-light">
                    <h5>Total Limit Flyers</h5>
                    <p style="margin-bottom: 0px;">Total Limit: {{ boards.total_flyers }}</p>
                    <p style="margin-bottom: 0px;">Total flyer on this board: {{ flyer.count }}</p>
                  </div>
                  <div style="border-radius: 5px;" class="col bg-secondary m-2 p-2 text-light">
                    <h5>Available space</h5>
                    <p style="margin-bottom: 0px;">10</p>
                  </div>
                  <div style="border-radius: 5px;" class="col bg-secondary m-2 p-2 text-light">
                    <h5>Total Flyers Posted Today</h5>
                  </div>
                <div><p>Updated by Fernando 10sec ago</p></div>
                </div>
                
              </div> -->


              <!-- table of flyers -->

              <div class="table-responsive text-nowrap">
                <!--Table-->
                <table class="table table-striped">
        
                  <!--Table head-->
                  <thead>
                    <tr>
                      <th>ID#</th>
                      <th>Image</th>
                      <th>FLyer Name</th>
                      <th>Department</th>
                   
                      <!-- <th>Ambassador Name</th> -->
                      <th>Status</th>
                      <th>Due Date</th>
                      <th>Created</th>
                      <!-- <th>Posted</th> -->
                    </tr>
                  </thead>
                  <!--Table head-->
        
                  <!--Table body-->
                  <tbody>
                    {% for flyer in page_obj %}
                    <tr>
                      <th scope="row">{{ flyer.id }}</th>
                      <td><img src="{{ flyer.image.url }}" alt="" style="width: 50px; height: 50px;"></td>
                      <td>{{ flyer.name }}</td>
                      <td>{{ flyer.office }}</td>
                
                      <!-- <td>{{ flyer.added_by }}</td> -->
                      <td>Posted</td>
                      <td>{{ flyer.due_date }}</td>
                      <td>{{ flyer.created }}</td>
                      <!-- <td><button class="btn btn-success">Yes</button> <button class="btn btn-danger">no</button></td> -->
                    </tr>
                    {% endfor %}

                  </tbody>
                  <!--Table body-->
        
        
                </table>
                <!--Table-->
              </div>
        </section>
        <!--Section: Live preview-->

        <!--  -->
      <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>

              

               
             </div>
           </div>
         </div>
 
        
     </div>
 
 
 
 
 
 
 </div>

 {% endblock %}