{% extends 'boardapp/base/base.html' %}

{% load static %}

{% block content %}


<div class="hero-container">
    <!-- <img class="hero-img" src="{% static 'img/ambassadors1.jpg' %}" alt=""> -->
    <div class="hero-col hero-aligment">
      <div class="hero-row" >
        <h1>Welcome to SAABOARDS</h1>
        <p>Managing boards has never been easier</p>
        <a  class="rounded-pill btn btn-primary " style="max-width: 200px;" href="{% url 'accounts:login' %}"  role="button">Start Today</a>
      </div>
      <!-- <div class="hero-row">
        <img class="hero-img" src="{% static 'img/ambassadors1.jpg' %}" alt="">
        
      </div> -->
     
    </div>
</div>


<div class="bg-light">

<div class="section1 ">
  <div class="section1-container bg-light">
    <div class="img-container">
      <img src="https://images.unsplash.com/photo-1543269865-cbf427effbad?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80" alt="">
    </div>
    <div class="content-info1 text-black">
      <h4>Student Affairs Introduction</h4>
      <p>As you progress along your academic journey at LaGuardia Community College, we want you to know that you have a wide variety of services, programs and staff available to assist you.  Student Affairs is committed to that assistance. On this page are links to available resources dedicated to helping you accomplish tasks common to LaGuardia students.  </p>
      <p>We encourage you to view and explore all the information available within this page and all linked content.  If you should have any additional questions, please feel free to contact us. </p>
    </div>
  </div>
</div>

<div class="lines-container">
  <hr class="home-lines">
</div>

<div class="section2 bg-light">
  <div class="section2-container">
    <div class="content-info2 text-black">
      <h4>Student Affairs Mission</h4>
      <p>The LaGuardia Community College Division of Student Affairs prepares students to become informed, engaged and ethical decision-makers that embrace the responsibilities of global citizenship. This is achieved by a holistic student-centered approach, student life activities, and an array of support and developmental services that foster academic program completion. We are committed to assisting students in becoming successful graduates with a sense of purpose, autonomy, integrity, identity and broadmindedness. </p>
    </div>
    <div class="img-container">
      <img src="https://images.unsplash.com/photo-1543269865-cbf427effbad?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80" alt="">
    </div>
  </div>
</div>

<div class="lines-container">
  <hr class="home-lines">
</div>

<div class="section3 bg-light">
  <div class="section3-container">
    <div class="content-info text-black">
      <h4>Hours of Operation</h4>
      <p>Please note that there are many departments in the division and each department within the division has individual office hours, which can be found by visiting their pages. Should you need to contact one of the Deans or the Vice President, the Office of the Vice President of Student Affairs is available:  </p>
      <p>Monday – Friday from 9:00a.m. to 5:00p.m.</p>
    </div>
    <div class="content-info text-black">
      <h4>Connect With A Department</h4>
      <p>To schedule a virtual appointment with the Vice President or a Dean:  </p>
      <span>*Add Dropdown here with list of departments</span>
      <p>Please call/contact ________________ using the following phone number or email address.  </p>
      <p>Phone: </p>
      <p>Email: </p>
      <p>*Virtual appointments requiring video conference will be conducted using Zoom or Microsoft Teams. Instructions on how to access each can be found here. </p>
      <button type="button" class="btn btn-outline-primary">Join Today</button>
    </div>
  </div>
</div>


</div>

 

 {% endblock %}