{% extends 'boardapp/base/base.html' %}

{% load static %}

{% block content %}


<div class="hero-container">
    <!-- <img class="hero-img" src="{% static 'img/ambassadors1.jpg' %}" alt=""> -->
    <div class="hero-col hero-aligment">
      <div class="hero-row" >
        <h1>Welcome to SAABOARDS</h1>
        <p>Managing boards has never been easier</p>
        <a  class="rounded-pill btn btn-primary " style="max-width: 200px;" href="{% url 'accounts:register-ambassador' %}"  role="button">Start Today</a>
      </div>
      <!-- <div class="hero-row">
        <img class="hero-img" src="{% static 'img/ambassadors1.jpg' %}" alt="">
        
      </div> -->
     
    </div>
</div>
 

 {% endblock %}