{% extends 'boardapp/base/base.html' %}

 {% block content %}

<div style="height: 30px;"></div>


<div class="container" style="max-width: 1000px;">

    <!-- Headline -->
    <div class="container">
        <div class="row">
          <div class="col">
            <h2>Flyers List</h2>
          </div>
          <div class="col">
            
          </div>
          <div class="col">
            <p> Hey, {{ request.user.username }}</p>
          </div>
        </div>
    </div>

    <!-- Body cards -->
    <div class="row justify-content-center " >

      


        <div class="container" style="max-width: 1000px;">
 
    
            <!-- Body Task Table -->
            <div class="table-responsive">
               <table class="table">
                   <thead>
                   <tr>
                       <th scope="col">ID#</th>
                       <th scope="col">Office Name</th>
                       <th scope="col">Location</th>
                       <th scope="col">No Name</th>
                       <th scope="col">No Name</th>
                       
                   </tr>
                   </thead>
                   <tbody>
                    {% for office in offices %}
                   <tr>
                       <th scope="row">{{ office.id }}</th>
                       <td>{{ office.name }}</td>
                       <td>{{ office.location }}</td>
                    
                       <td>---</td>
                       <td>---</td>
                   </tr>
                   {% endfor %}
                   </tbody>
               </table>
           </div>
        </div>
    </div>
</div>


 {% endblock %}