{% extends 'boardapp/base/base.html' %}
{% block title %}Edit Profile{% endblock %}
{% block content %}


<br>
<br>
<div class="container dashboard-edit-container" style="max-width: 500px;">
    <div class="dashboard-edit-container-wrapper">
        <form class="edit-form" method="post" enctype="multipart/form-data" >

        
            <div class="profile-info-text">
                <h3>Change your details</h3>
                <p>You can edit your account using the following form:</p>
            </div>
         

            {% if form.errors %}
            <div class="error-alert" role="alert">
                Error: Please try again!
            </div>
            {% endif %}

            {% csrf_token %}

            {{ user_form.as_p }}
            {{ restaurant_form.as_p }}
            
            <!-- <p class="">{{ user_form.email.label}}</p>
            {{ user_form.email }}
           
            <p class="">{{ user_form.user_name.label}}</p>
            {{ user_form.user_name }}
            <p class="">{{ user_form.first_name.label}}</p>
      -->
            <button class="btn btn-primary py-2 mb-4 mt-5 fw-bold" type="submit"
                value="Save changes">Save Changes</button>
        </form>

        <hr class="hr-line">

        <form class="delete-form" action="{% url 'accounts:delete_user' %}" method="post">
            {% csrf_token %}
            <p class="">Delete Account</p>
            <p>Are you sure you want to delete your account?</p>
            <button type="submit" role="button"
                class="btn btn-primary py-2 mb-4 mt-5 fw-bold">Delete</button>
        </form>

    </div>

</div>

<br>
<br>
<br>

{% endblock %}