{% extends 'boardapp/base/base.html' %}

{% block content %}


<div style="height: 30px;"></div>


<div class="container" style="max-width: 1000px;">

    <!-- Headline -->
    <div class="container">
        <h2>{{ flyer.name}}</h2>
        <a class="btn btn-danger" href="{% url 'boardapp:edit-flyer' flyer.id %}">Update</a>
    </div>

    <!-- Body cards -->
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card ">
                <div class="card-body">
                    <h5 class="flyer-detail-card-title">Added By</h5>
                    <p class="flyer-detail-card-text">
                        {{ flyer.added_by }}
                    </p>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card ">
                <div class="card-body">
                    <h5 class="flyer-detail-card-title">Boards</h5>
                    <p class="flyer-detail-card-text">
                       {% for board in flyer.board.all %} {{ board }}<br />{% endfor %}
                    </p>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card ">
                <div class="card-body">
                    <h5 class="flyer-detail-card-title">Office</h5>
                    <p class="flyer-detail-card-text">
                        {{ flyer.office }}
                    </p>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card ">
                <div class="card-body">
                    <h5 class="flyer-detail-card-title">Flyer Image</h5>
                    <img class="card-img-top" src="{{ flyer.image.url }}" alt="">
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card ">
                <div class="card-body">
                    <h5 class="flyer-detail-card-title">Added By</h5>
                    <p class="flyer-detail-card-text">
                        {{ flyer.date_posted }}
                    </p>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card ">
                <div class="card-body">
                    <h5 class="flyer-detail-card-title">Due Date</h5>
                    <p class="flyer-detail-card-text">
                        {{ flyer.due_date }}
                    </p>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card ">
                <div class="card-body">
                    <h5 class="flyer-detail-card-title">Updated by</h5>
                    <p class="flyer-detail-card-text">
                        {{ flyer.updated_by }}
                    </p>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card ">
                <div class="card-body">
                    <h5 class="flyer-detail-card-title">Created</h5>
                    <p class="flyer-detail-card-text">
                        {{ flyer.created }}
                    </p>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card ">
                <div class="card-body">
                    <h5 class="flyer-detail-card-title">Updated</h5>
                    <p class="flyer-detail-card-text">
                        {{ flyer.updated }}
                        
                    </p>
                </div>
            </div>
        </div>

    </div>
    <!-- Records Table -->

    <div class="table-responsive text-nowrap bg-light mt-4">
        <!--Table-->
        <table class="table table-striped " style="margin-top: 1rem;">

          <!--Table head-->
          <thead>
            <tr class="board-detail-text-left">
              <th>ID#</th>
              <th>Image</th>
              <th>FLyer Name</th>
              <th>Department</th>
           
              <!-- <th>Ambassador Name</th> -->
              <th>Status</th>
              <th>Due Date</th>
              <th>Created</th>
              <!-- <th>Posted</th> -->
            </tr>
          </thead>
          <!--Table head-->

          <!--Table body-->
          <tbody>
            {% for flyer in page_obj %}
            <tr class="board-detail-text-left">
              <th scope="row">{{ flyer.id }}</th>
              <td><img src="{{ flyer.image.url }}" alt="" style="width: 50px; height: 50px; border-radius: 50px;"></td>
              <td class=" ">{{ flyer.name }}</td>
              <td class=" ">{{ flyer.office }}</td>
        
              <!-- <td>{{ flyer.added_by }}</td> -->
              <td>Posted</td>
              <td>{{ flyer.due_date }}</td>
              <td>{{ flyer.created }}</td>
              <!-- <td><button class="btn btn-success">Yes</button> <button class="btn btn-danger">no</button></td> -->
            </tr>
            {% endfor %}

          </tbody>
          <!--Table body-->


        </table>
        <!--Table-->
      </div>


</div>




{% endblock %}