{% extends 'boardapp/base/base.html' %}

{% load crispy_forms_tags %}
{% block content %}



<div style="height: 30px;"></div>


<div class="container" style="max-width: 1000px;">

  <!-- Headline -->
  <div class="container">
    <div class="row">
      <div class="col">
        <h2>Flyers List</h2>
      </div>
      <div class="col">

      </div>
      <div class="col">
        <p> Hey, {{ request.user.username }}</p>
      </div>
    </div>
  </div>

  <!--  -->

  <!--  -->

  <div>
    <h3>Add a Flyer</h3>
    <form action="" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form|crispy }}
      <button type="submit"> Add</button>

    </form>

  </div>

  <!-- Body cards -->
  <div class="row justify-content-center ">




    <div class="container" style="max-width: 1000px;">


      <!-- Body Task Table -->
      <div class="table-responsive text-nowrap">
        <!--Table-->
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">ID#</th>
              <th scope="col">Flyer Image</th>
              <th scope="col">Flyer Name</th>
              <th scope="col">Due Date</th>
              <th scope="col">Office</th>
              <th scope="col">Boards</th>
              <th scope="col">Posted </th>
              <th scope="col">Created</th>
              <th scope="col">Updated </th>

            </tr>
          </thead>
          <tbody>
            {% for flyer in page_obj %}
            <tr>
              <th scope="row">{{ flyer.id }}</th>
              <td><img src="{{ flyer.image.url }}" alt="" style="width: 50px; height: 50px;"></td>
              <td><a href="{% url 'boardapp:edit-flyer' flyer.id %}">{{ flyer.name }}</a></td>
              <td>{{ flyer.due_date }}</td>
              <td>{{ flyer.office }}</td>
              <td>{% for board in flyer.board.all %}{{ board }}<br />{% endfor %}</td>
              <td>{{ flyer.date_posted }}</td>
              <td>{{ flyer.created }}</td>
              <td>{{ flyer.updated }}</td>


            </tr>
            {% endfor %}
            <!-- {% for f in flyer %}
            <tr>
              <th scope="row">{{ f.id }}</th>
              <td><img src="{{ f.image.url }}" alt="" style="width: 50px; height: 50px;"></td>
              <td><a href="{% url 'boardapp:edit-flyer' f.id %}">{{ f.name }}</a></td>
              <td>{{ f.due_date }}</td>
              <td>{{ f.office }}</td>
              <td>{% for board in f.board.all %}{{ board }}<br />{% endfor %}</td>
              <td>{{ f.created }}</td>
              <td>{{ f.updated }}</td>


            </tr>
            {% endfor %} -->
          </tbody>
        </table>

     
      </div>
      <!--  -->
      <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
    

      <!--  -->
    </div>
  </div>
</div>








{% endblock %}