{% extends 'boardapp/base.html' %}

 {% block content %}


 <div style="height: 30px;"></div>


 <div class="container" style="max-width: 1000px;">
 
     <!-- Headline -->
     <div class="container">
         <div class="row">
           <div class="col">
             <h2>Dashboard</h2>
           </div>
           <div class="col">
             
           </div>
           <div class="col">
             Hey fernando
           </div>
         </div>
     </div>
 
     <!-- Body Task Table -->
     <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">ID#</th>
                <th scope="col">Full Name</th>
                <th scope="col">Activity</th>
                <th scope="col">Board</th>
                <th scope="col">Board Space</th>
                <th scope="col">Date/Time</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Updated Board</td>
                <td>Board C</td>
                <td>Full</td>
                <td>Thrusday 10am</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Updated Board</td>
                <td>Board A</td>
                <td>4</td>
                <td>Wednesday 1pm</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td >Larry the Bird</td>
                <td>Updated Board</td>
                <td>Board D</td>
                <td>8</td>
                <td>Monday 11am</td>
            </tr>
            </tbody>
        </table>
    </div>
 
 
 
 
 
 </div>

 



 {% endblock %}