{% extends 'boardapp/base/base.html' %}
{% load crispy_forms_tags %}
{% block title %} Register {% endblock %}
{% load static %}


{% block content %}


<div class="contianer ">
    <div class="card-login container">
        <div class="text-center">
            <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
        </div>
    
        <form class="" action="." method="post" enctype="multipart/form-data">
            {% csrf_token %}
    
            <h3 class="mb-4">It's free and only takes a minutes.</h3>
    
            {% if form.errors %}
            <div class="" role="alert">
                 <p>Please correct the following errors:</p>
            </div>
           
            {% for field in form %}
            {% if field.errors %}
    
            <div class="" role="alert">
                {{ field.label }}: {{ field.errors|striptags }}
            </div>
            {% endif %}
            {% endfor %}
            {% endif %}
    
            <div class="login-information">


                
               


              <!-- Restaurant Form -->

              
              {{ form|crispy }}
    
            </div>
            
            <br>
            <div class="">
                    <button class="btn btn-primary btn-user btn-block" type="submit">Register</button>
            </div>

            <p class="text-center m-4"><a href="">Forgot password?</a></p>
    
    
            
            
        </form>
    
    
         <!--  -->
         <hr>
          
         <div class="text-center">
          <p>Already have an account? <a href="{% url 'accounts:login' %}">Login</a></p>
          
      </div>
        
    </div>
</div>








{% endblock %}