{% extends 'boardapp/base/base.html' %}
{% block title %} Logout {% endblock %}
{% load static %}
{% block content %}



<div class="contianer m-4 ">
    <div class="card-login container">
        <div class="text-center">
            <h1 class="h4 text-gray-900 mb-4">Will Miss You!</h1>
        </div>
    
        
    
    
        <div class="text-center">
            <!-- <a class="small" href="">Forgot Password?</a> -->
        </div>
        <div class="text-center">
            <a class="small text-decoration-none" href="{% url 'accounts:login' %}">Login Again!</a>
        </div>
    </div>
</div>




{% endblock  %}